.div-rank{
    margin: auto 15px;
    color: white;
    font-size: xx-large;
    font-weight: bold;

    animation: div-rank-load 1s;
}

@keyframes div-rank-load{
    0%{opacity: 0%;
       position: relative;
       top: 20px;}
    100%{opacity: 100%;
         position: relative;
         top: 0px;}
}

