
.center-div{
    background-color: black;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}



.cred-input{
    
    font-size: large;
    margin: 15px;
    
    color: white;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid;
    border-color: darkred;
    text-align: center;
    
}
.cred-input::placeholder{
    opacity: .4;
}
.cred-input:hover::placeholder{
    opacity: 0.6;
}
.cred-input:focus{
    outline: none;
    border-color: red;
}



.log-btn{
    display: block;
    margin: 15px;
    font-size: large;
    color: red;
    background-color: transparent;
    border: 1px solid;
    border-color: darkred;
    
}
.log-btn:visited{
    color: red;
    border-color: darkred;
}
.log-btn:hover{
    border-color: red;
}
.log-btn:active{
    color: white;
    border-color: white;
}


.nav-p{
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    color: darkred;
    background-color: transparent;
    border: none;
    justify-self: center;
    align-self: center;
}
.nav-p:visited{
    color: red;
}
.nav-p:hover{
    color: red;
}
.nav-p:active{
    color: white;
}
