.App {
    
    text-align: center;
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 0;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-div{
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
}

